<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .outside{
            background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
        }
        .inside{
            height: 100px;
            width: 100px;
            background-color: red;
            
        }
    </style>
</head>
<body>
    <div class="outside">
    <div class="inside"></div>
</div>
</body>
</html>