<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <table>
            <tr>
                <th>Email</th>
                <td>{{b}}</td>
            </tr>
            <tr>
                <th>Job Title</th>
                <td>{{c}}</td>
            </tr>
            <tr>
                <th>Job Type</th>
                <td>{{d}}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{e}}</td>
            </tr>
            <tr>
                <th>Work Type</th>
                <td>{{f}}</td>
            </tr>
        </table><br>
        <a href="/apply/{{user}}/{{job}}" class="btn btn-secondary">Apply Now</a>
    </div>
</body>
</html>