<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color: bisque;
        }
        .container-fluid{
            align-items: center;
            text-align: center;
            margin-top: 100px;


            /* width: 100px; */
        }
    </style>
    
    <div class="container-fluid">
        <div class="row mt-5">
            {% for i,j,k in user %}
            <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.TsiDE1xa13_mkWDJomNC3QHaFj?w=212&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="..." width="100px" height="150px">
                    <div class="card-body">
                        <h5 class="card-title">{{i}}</h5>
                        <p class="card-text">{{j}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>